.card {
    width: 30%;
    min-width: 280px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.cardImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cardContent {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 20px;
    color: #004a99;
    margin-top: 0;
    margin-bottom: 10px;
}

.cardDescription {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    flex-grow: 1;
    margin-bottom: 15px;
}

.learnMoreButton {
    padding: 8px 16px;
    background-color: #f60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

.learnMoreButton:hover {
    background-color: #e55c00;
}