.card {
    width: 30%;
    min-width: 280px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardContent {
    padding: 20px;
}

.cardTitle {
    font-size: 20px;
    color: #f60;
    margin-top: 0;
    margin-bottom: 10px;
}

.cardDescription {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    text-align: left;
}