.productsPage {
    width: 100%;
    animation: fadeIn 0.5s ease-out;
}

.productsPage h2 {
    text-align: center;
    color: #004a99;
    margin-bottom: 10px;
}

.subHeader {
    text-align: center;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Căn giữa các card */
    gap: 20px;
}